<div class="parallax"></div>

<div class="middle-box">
<div class="container">
  <div class="icon">
    <!-- icon -->
    <img id="icon" src="img/banners_icons/banner2.jpeg" alt="Global Freedom Movement">
  </div>
  <div class="social-media-list">
    <!-- loop throught social media cards -->
    <% social_media.forEach(media=>{ %>
      <div class="media-card">
        <%-media.tag%>
      </div>
    <%})%>
  </div>
</div>
</div>

<div class="parallax"></div>