<%if(locals.content==="phone"){%>
  <h2>Phone info</h2>
  <p>Canadian phone numbers are accepted i.e. 10 digits only. Example: 1234567890. The form does not accept non-digits, spaces, hyphens, parentheses nor + signs</p>
<%}%>

<%if(locals.content==="burner"){%>
  <h2>What is a phone # of type burner</h2>
  <p>A phone number of type burner is a phone number that is not associated with your identity in any shape or form in terms of paperwork and/or digital records</p>
<%}%>


<%if(locals.content==="terms-and-conditions"){%>
  <h2>Terms and conditions</h2>
  <h3>Agreement on how the data is saved</h3>
  <ul>
    <li>The data submited is encrypted by SSL when sent, and encrypted with <a href="https://en.wikipedia.org/wiki/RSA_(cryptosystem)">RSA algorithm</a> before stored in database</li>
    <li>The webmasters only decrypt the data remotly on personal hosted plan with third party, but stores the decrypted data only on personal computer.</li>
  </ul>
  <h3>Agreement on data privacy liability</h3>
  <p>Even though the utmost precautions have been taken to preserve user confidentiality to the very best of our capacities, we can not ensure to 100% that this website is 100% immune to cyber hacks. The setup is made as such this would be extremly unlikly through encryption and personal local storage.</p>
  <ul>
    <li>The developers that made this website are not liable in any shape or form in a scenario of a data breach</li>
  </ul>
  <h3>Agreement on how data will be used</h3>
  <ul>
    <li>To send messages with our newsletter system, to which partisans can unsubscribe to</li>
    <li>The website intends to have a record of partisans to fortify a communications network of like minded individuals</li>
    <li>The data may eventually be used for the development of future applications to fight the NWO, with the condition of partisan approval on how the data will be used</li>
  </ul>
  
<%}%>