<div class="op-body">
  <div class="head">
    <h1>Welcome to op</h1>
  </div>
  
  <div id="decy-id" class="buttons-decy-op">
  <%if(locals.environmentVars.environment === "developement"){%>
    <button id="local-dec">Local MAMP DB Decrypt Update</button>
    <button id="staging-hostgator-dec">Hostgator DB Decrypt and update on homecosmos.ddns.net</button>
  <%}%>
  </div>
  
  
  
  <a href="/">Back home</a>
  
  
  <script src="js/dec-op.js"></script>
</div>